<div class="post-box">
  <%= link_to user_post_path(@user, post) do%>
    <div class="post">
      <p><strong>Post #<%= post_counter + 1 %></strong></p>
      <h3><%= post.title %></h3>
      <p> <%= post.text %> </p>
      <span><i class="far fa-heart"></i> <%= post.likes.size  %></span>
    </div>
  <% end %>
  <div class="comments">
    <%= render post.five_recent_comments %>
  </div>
  <% if can? :destroy, post %>
    <%= button_to 'Delete', user_post_path(@user, post), method: :delete, class: 'delete' %>
  <% end %>
</div>