<section>
  <div class="post">
    <div>
      <h2><%= @post.title %></h2> by <span><%= @post.author.name %></span>
    </div>
    <p><%= @post.text %></p>
    <div class="stats">
      <%= link_to add_like_user_post_path, method: :post, class: 'like' do %>
        <span><i class="far fa-heart"></i> <%= @post.likes.size  %></span>
      <% end %>
      |
      <span>Comments</i> <%= @post.comments.size  %></span>
    </div>
  </div>
  <div class="comments">
    <%= render @post.comments %>
  </div>
  <% if can? :destroy, @post %>
    <%= button_to 'Delete Post', user_post_path(@post.author, @post), method: :delete, class: 'delete' %>
  <% end %>


  <%= form_with url: user_post_comments_url(@post.author, @post) do |f| %>
    <%= f.label :text, 'Comment' %>
    <%= f.text_area :text %>
    <%= f.submit 'Create Comment' %>
  <% end %>
</section>