<section>
  <div class="post">
    <h2><%= @post.title %></h2>
    <p><%= @post.text %></p>
  </div>
  <div class="comments">
    <%= render @post.comments %>
  </div>
  <% if can? :destroy, @post %>
    <%= button_to 'Delete', user_post_path(@user, post), method: :delete %>
  <% end %>

  <%= link_to add_like_user_post_path, method: :post, class: 'like' do %>
    <i class="far fa-heart"></i>
  <% end %>

  <%= form_with url: user_post_comments_url(@post.author, @post) do |f| %>
    <%= f.label :text, 'Comment' %>
    <%= f.text_area :text %>
    <%= f.submit 'Create Comment' %>
  <% end %>
</section>